head
    title: | Test riproduzione cassette    
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="https://code.jquery.com/jquery-1.11.3.min.js")        
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type="text/javascript", src="js/riffwave.js")
    script(type="text/javascript", src="js/min/msxtape-min.js")

body
    div.container
        div.row
            div.col-12
                br
        div.row
            div.col-12
                strong: | Test MSX
                br
                br
    
                button.btn.btn-default#esegui
                    | Esegui audio
    script(type="text/javascript", src="min/script-min.js")
